.html, body{
    margin: 0;
    background-color: #222831;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
}

.hamburger { 
    position: fixed;
    top: 3rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    z-index: 1500;
 }

.hamburger .line { 
    height: 3px; 
    width: 100%; 
    background: #fff; 
    border-radius: 5px;
    transform: rotate(0deg) translateY(0px);
    transition: all 0.3s;
 }

.open .line:nth-child(1){
    transform: rotate(135deg) translateY(12px);
    transition: all 0.5s;
}

.open .line:nth-child(2){
    opacity: 0;
}

.open .line:nth-child(3){
    transform: rotate(-135deg) translateY(-12px);
    transition: all 0.5s;
}

/* .line:nth-child(1) { top: 36px; }
.line:nth-child(2) { top: 48px; }
.line:nth-child(3) { top: 60px; } */

.menu-container{
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: -10000px;
    transition: all 0.3s;

    transform: translateY(0px);

    z-index: 3;
}

.menu{
    list-style: none;
}

.menu-item a{
    text-decoration: none;
    font-size: 3rem;
    color: #dddddd;
}

.menu-item a:hover{
    color: #f05454;
    transition: all 0.3s;
}

.active{
    transform: translateY(10000px);
}


.container{
    width: 400px;
    position: absolute;
    top: 50vh;
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

h1{
    font-size: 3rem;
    text-align: center;
    color: #dddddd;
}

p{
    font-size: 1.6rem;
    text-align: center;
    color: #dddddd;
}

img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    object-fit: cover;
}

.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a{
    font-size: 3rem;
    margin-right: 20px;
    padding-top: 25px;
}

.social-icons a:hover{
    color: #f05454;
    transition: all 0.3s;
}

.fa{
    color: #dddddd;
    text-decoration: none;
}

.container span{
    color: #f05454;
}

.container span:hover{
    color: #dddddd;
    transition: all 0.3s;
}



@media only screen and (max-width: 800px) {
    .container{
        width: 400px;
    }

    h1{
        font-size: 3rem;
    }

    p{
        font-size: 1.6rem;
    }   

    img{
        width: 350px;
        height: 350px;
    }
    
    .social-icons a{
        font-size: 3rem;
    }

}


@media only screen and (max-width: 600px) {
    .container{
        width: 300px;
    }

    h1{
        font-size: 2.2rem;
    }

    p{
        font-size: 1.2rem;
    }

    img{
        width: 250px;
        height: 250px;
    }
    
    .social-icons a{
        font-size: 2.2rem;
    }

}

@media only screen and (max-width: 350px) {
    .container{
        width: 300px;
    }

    h1{
        font-size: 2rem;
    }
    
    p{
        font-size: 1.1rem;
    }

    img{
        width: 200px;
        height: 200px;
    }
    
    .social-icons a{
        font-size: 1.1rem;
    }
}